@model Movie
@{
}

<h1>
    Name : @Model.Name </h2>

    <h3>Directed by : @Model.Director </h3>
    <h3>Released : @Model.Year </h3>

    <h2>Edit Movie Here</h2>
   

    @using (Html.BeginForm("EditMovie", "Movie", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id);

        @Html.LabelFor(m => m.Name);
        @Html.TextBoxFor(m => m.Name);

        @Html.LabelFor(m => m.Director);
        @Html.TextBoxFor(m => m.Director);

        @Html.LabelFor(m => m.Year);
        @Html.TextBoxFor(m => m.Year);

        <button type="submit">Submit</button>

    }
